<h3>Autores</h3>
<ul>
  <li>
    <h4>Juan Quemada Vives</h4>
    <img width="70px" src="/images/jquemada.jpg">
    <p>Catedrático del Departamento de Ingeniería de Sistemas Telemáticos en la
    ETSI Telecomunicación de la Universidad Politécnica de Madrid (UPM), donde
    imparte las asignaturas de Software de Comunicaciones, Computación en Red e
    Ingeniería Web. Además es el Investigador Principal del Grupo de investigación
    de UPM Internet NG y Director de la Cátedra Telefónica en UPM para Internet NG.</p>
  </li>
  <li>
    <h4>Enrique Barra Arias</h4>
    <img width="70px" src="/images/ebarra.jpg">
    <p>Doctor Ingeniero en Telecomunicación - experto en HTML5 - profesor.
    Recientemente he terminado mi doctorado y compatibilizo mi labor de desarrollo
    software con dar charlas e impartir cursos en la UPM y en empresas privadas.
    Los últimos proyectos en los que he participado son ViSH y EducaInternet. Redes
    sociales educativas. En producción en http://vishub.org y http://educainternet.es
    ¿Quieres saber algo de mi código? -> https://github.com/ebarra</p>
  </li>
  <li>
    <h4>Álvaro Alonso</h4>
    <img width="70px" src="/images/aalonso.jpg">
    <p></p>
  </li>
  <li>
    <h4>Pina Belén Astudillo Stephens</h4>
    <img width="70px" src="/images/pastudillo.jpg">
    <p>Ingeniera Electrónica. Egresada de la UNEXPO, Venezuela. Orientada hacia
    el área de software web, redes de computadoras y telecomunicaciones. Actualmente
    participante del curso Desarrollo de servicios en la nube con HTML5, Javascript
    y node.js</p>
  </li>
</ul>
