 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' href='/stylesheets/style2.css' />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
		  <h2><a href="#">Quiz: el juego de las preguntas</a></span></h2>			
	  </div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li><a href="/">Inicio</a></li>
			<li><a href="/quizes">Preguntas</a>
			</li>
			<li><a href="/estadisticas">Estadisticas</a></li>
			<li class="current_page_item"><a href="/author">Créditos</a>
            </li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
	<div id="page-bgtop">
	<div id="page-bgbtm">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Autor</a></h2>
                
			</div>
        <!-- Contenido de la pagina -->




  <body>
     <h4>© Marlon Esue Gomez Hernandez</h4><br>
     <div>
      <img src="images/programador.jpg" id="img_author" />
     </div>
  </body>



  		</div>
		<!-- end #content --><!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
	</div>
	<!-- end #page -->
</div>
	<!-- end #footer -->
</body>
</html>
