<h2><%= titulo %></h2>
<table>
  <% var i; for (i=0; i < quizes.length; i++) { %>        
    <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr> 
  <% } %>
</table>
<br>
<form method="get" action="/quizes" style="text-align:justify;">
  <input type="text" name="search" placeholder="Introducir texto a buscar"/>
  <input type="submit" value="Buscar">
</form>
<br>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>